*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}

a{
   display: inline-block;
}
    
#text-contan:hover #tex{
    transform: translate(0,0);
}

.swiper-slide img{
    object-fit: cover;
    object-position: center;
  
}

.page-1{
    height: 100vh;
    width: 100%;
    position: relative;
}
.page-1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.page-1 .overlay{
    width: 100%;
    height: 100%;
    background: #0000001b;
    position: absolute;
    top: 0%;
}


.nav-links{
 
 background-image: url("https://wallpapers.com/images/hd/spider-man-vector-art-4k-7gw8j1lhg6kng2n3.jpg");
    width: 100%;
    background-position: center;
    background-size: cover;
   color: black;
    
}

.nav-a{
    font-size: 4vw;
    line-height: 1;
}

.heading h1{
    letter-spacing: 40px;
    text-align: center;
  
    font-size: 6vw;
    line-height: 1;
    width: 100%;
}

.heading h1 span{
      display: inline-block;
}

.vidio{
    width: 30%;
    height: 50%;
}

/* .page1{
    height: 100%;
    width: 100%;
    background-color: #212121;
} */
.image{
    position: relative;
}
.image img{
    height: 45vw;
    width: 100vw;
    object-position: center;
    background-color: black;
}
.image h2{
    position: absolute;
    top:7vw;
    margin-left: 4vw;
    font-size: 1.5vw;
    color: black;
    letter-spacing: 0.8vw;

}
.image h1{
    position: absolute;
    top:9vw;
    font-size: 4vw;
    margin-left: 4vw;
    color: black;
    letter-spacing: 0.8vw;
    

}
.image h4{
    position: absolute;
    top:15vw;
    font-size: 1.5vw;
    margin-left: 4vw;
  
    width: 45%;
    font-weight: 400;
    
}


.button button1 {
    padding: 10px 20px;
    border: unset;
    border-radius: 15px;
    color: #212121  ;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 8px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    padding: 1vw 2.5vw;
    font-size: 1.2vw;
    font-weight: 800;
    position: absolute;
    margin-left: 4vw;
    top:23vw;
   }
   
   button1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: rgb(202, 10, 10);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   button1:hover {
    color: #e8e8e8;
   }
   
   button1:hover::before {
    width: 100%;
   }
   button2 {
    padding: 10px 20px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 8px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    padding: 1vw 2.5vw;
    font-size: 1.2vw;
    font-weight: 800;
    position: absolute;
    margin-left: 25vw;
    top:23vw;
   }
   
   button2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: rgb(202, 10, 10);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   button2:hover {
    color: #e8e8e8;
   }
   
   button2:hover::before {
    width: 100%;
   }

   .boxes{
    position: absolute;
    top: 43vw;
    display: flex;
   margin-top: 0;
  left: 20vw;
    align-items: center;
    justify-content: center;
    gap: 0.1vw;
    background-color: rgb(87, 85, 85);
    color: white;
    font-size: 1vw;
 
    
   }
   .boxes h4{
    font-weight: 100;
 
   }
   .box1{

    background-color: #212121;
    padding: 1.5vw 1vw;
   }
  
   .box2{
    padding: 1.5vw 1vw;
    background-color: #212121;
    
   }
   
   #hoverbutton1:hover{
    border-bottom: 4px solid  rgb(202, 10, 10);
    /* transition: all ease 0.2s; */

   }
   .box3{
    padding: 1.5vw 1vw;
    background-color: #212121;
  
   }
   #hoverbutton2:hover{
    border-bottom: 4px solid  rgb(202, 10, 10);
    /* transition: all ease 0s; */
   }
   .box4{
    padding: 1.5vw 1vw;
    background-color: #212121;

   }
   #hoverbutton3:hover{
    border-bottom: 4px solid  rgb(202, 10, 10);
    /* transition: all ease 0s; */
   }
   
   .box5{
    padding: 1.5vw 1vw;
    background-color: #212121;
    margin-right: 0.1vw;
   }

   #hoverbutton4:hover{
    border-bottom: 4px solid  rgb(202, 10, 10);
    /* transition: all ease 0s; */
   }
   .boxes:hover{
    transition: all ease s;
   }

#spid{
    box-shadow: 4px 4px 4px red;
}

   .swiper {
    width: 100%;
    height: 100%;
    

  }

  .swiper-slide {
    
    text-align: center;
    font-size: 18px;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: -1;
    overflow: hidden;

  }

  .swiper-slide img {
    display: block;
    width: 80%;
    height: 60%;
    object-fit: cover;
    box-shadow: 7px 7px 50px rgb(174, 64, 64);
    object-position: center;
    transition: all ease-in-out 1s;
    margin-top: 5vw;
   
 
  }


  .swiper-slide h1{
    color: aliceblue;
  }
  .swiper-slide:hover{
    height: 110%;
    scale: 1.1;
  
  }
 .head {
   background-color: #212121;
   height: 15vw;

 }
 .head h1{
    font-size: 10vw;
    text-align: center;
   color: white;
padding-top: 2vw;
font-weight: 600;
text-shadow: 4px 4px 30px  red;
 }

 /* --------------------------- */
 
 
 #main{
    height: 100%;
    width: 100%;
  
     display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #212121;
}
#center{
position: relative;
box-shadow: 4px 4px 40px 30px red;
height: 90%;
width: 70%;

}

.imagecontainer{
position: absolute;
overflow: hidden;
height: 100%;
width: 0%;




}
img{
height: 45vw;
object-fit: cover;
object-position: center;
}
#one{
width: 0%;
}

.text{    
position: absolute;

overflow: hidden;
height: 100px;
z-index: 999;
width: 800px;
bottom: 8vw;
left: -10%;
color: aliceblue;

}

.text h1{
position: absolute;
font-size: 6vw;
top: 100px;
}

.text2{
position: absolute;

overflow: hidden;
height: 100px;
z-index: 999;
width: 600px;
bottom: 0vw;
left: -10%;
color: aliceblue;

}
.text2 h4{
position: absolute;
font-size: 1vw;
top: 100px;
} 
